<ng-container [ngSwitch]="post.postType">
  <div *ngSwitchCase="'text'" class="card" style="margin:1rem">
    <div class="card-body">
      <h4 class="card-title">{{post.body.title}}</h4>
      <p class="card-text">{{post.body.body}}</p>
    </div>
  </div>

  <div *ngSwitchCase="'image'" class="card" style="margin:1rem">
    <img class="card-img-top img-fluid" [src]="post.body.imageUrl"/>
    <div class="card-body">
      <p class="card-text">{{post.body.caption}}</p>
    </div>
    <div class="card-footer text-muted">
      {{post.author.name}} on {{post.date}}
    </div>
  </div>
</ng-container>
