<!-- Header with navbar -->
<nav class="navbar navbar-fixed-top navbar-expand-sm navbar-light bg-light">
    <a href="/#" class="navbar-brand">
    <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
      <span class="glyphicon glyphicon-home"></span>
      Jester
    </a>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-icon"><a href="#" class="nav-link"><span class="glyphicon glyphicon-home"></span>Profile</a></li>-->
      <li class="nav-icon pull-right"><app-refresh></app-refresh></li>
      <li class="nav-icon"><app-new-post></app-new-post></li>
      <!--<li class="nav-icon"><a href="#" class="nav-link"><span class="glyphicon glyphicon-off"></span>Sign Out</a></li>-->
    </ul>
  </div>
</nav>

<!--dashboard here (will eventually be replaced with <router-outlet>-->
<router-outlet></router-outlet>

<!-- Footer with copyright info -->
<footer>
  <p class="text-center">
    <small>&copy; Eric Hoppe, Simone Stewart, Jamie Leary 2017</small>
  </p>
</footer>
